@import "base";

*{margin:0;padding:0;-webkit-text-size-adjust: none; }
body{
	font: {
		family: Arial,sans-serif;
		weight: normal;
		size: 12px;
	}
	line-height:1.4;
}
// resets
a img,fieldset{
	border:none;
	}
a{
	color:#00919e;
}
@include keyframes(rotate) {
	from {@include rotate(0);}
	to {@include rotate(-360);}
}
@include keyframes(blink1) {
	from {opacity: 1;}
	to {opacity: 0;}
}
@include keyframes(blink2) {
	from {opacity: 0;}
	to {opacity: 1;}
}
@include keyframes(btn) {
	from {
		background: #ec6500;
		top:52px;
		right: 222px;
	}
	85% {
		background: #ec6500;
		top:52px;
		right: 222px;
	}
	to {
		background: #f7a71f;
		top:54px;
		right: 224px;
	}
}
@include keyframes(ride) {
	from {right: -950px;}
	to {right: 100%;}
}

.bus{
	@include sized-sprite($icons, 'bus');
	position: fixed;
	right: -950px;
	bottom: 0;
	padding-right: 20px;
	a{
		display: block;
		height: 100%;
		}
	.bus__wheel1, .bus__wheel2{
		position: absolute;
		@include animation(rotate 1s linear infinite);
	}
	.bus__wheel1{
		bottom: -1px;
		left: 72px;
		@include sized-sprite($icons, 'wheel1');
	}
	.bus__wheel2{
		bottom: 0;
		left: 257px;
		@include sized-sprite($icons, 'wheel2');
	}
	%bus__light{
		position: absolute;
		bottom: 4px;
		@include sized-sprite($icons, 'light');
	}
	.bus__light1{
		@extend %bus__light;
		left: 76px;
	}
	.bus__light2{
		@extend %bus__light;
		left: 260px;
	}
	.bus__text1{
		@include sized-sprite($icons, 'text-1');
		position: absolute;
		right: 200px;
		top: 16px;
		@include animation(blink1 2s cubic-bezier(1,0,0,1) infinite);
	}
	.bus__text2{
		@include sized-sprite($icons, 'text-2');
		position: absolute;
		right: 219px;
		top: 16px;
		@include animation(blink2 2s cubic-bezier(1,0,0,1) infinite);
	}
	.bus__btn{
		position: absolute;
		background: #ec6500;
		border-radius:11px;
		border:3px solid #fff;
		width: 144px;
		text-align: center;
		height: 29px;
		top:52px;
		right: 222px;
		box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.45);
		span{
			@include sized-sprite($icons, 'btn-text');
			display: inline-block;
			margin-top: 6px;
		}
		@include animation(btn 2s cubic-bezier(1,0,0,1) infinite);
	}
	.bus__close{
		left: 100%;
		@include sized-sprite($icons, 'close');
		top:2px;
		position: absolute;
		margin-left: -17px;
		cursor: pointer;
	}
}
.bus_ride{@include animation(ride 30s linear 1 none);}
.bus_stay{
	right: -480px;
	@include transition(right, 2s, linear);
	.bus__wheel1, .bus__wheel2{
		//@include rotate(0);
		//@include transition(all, 2s, linear);
	}
	&:hover{
		right: 0;
		.bus__wheel1,.bus__wheel2{
			-webkit-animation-play-state:running;
			-moz-animation-play-state:running;
			-o-animation-play-state:running;
			animation-play-state:running;
		}
	}
}
.bus_ride:hover,
.bus_ride:hover .bus__wheel1,
.bus_ride:hover .bus__wheel2,
.bus_stay .bus__wheel1,
.bus_stay .bus__wheel2{
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
	-o-animation-play-state:paused;
	animation-play-state:paused;
}